/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
@import url("reset.css");
/*--------------------------------------*/
body {
    font-family: 'Poppins';
    font-weight: 300;
    color: #9C9C9C;
    background-color: #0d0d11;

}
/*--------------------------------------*/
.wrapper {
    min-height: 100%;
    display:flex;
    flex-direction: column;
    overflow: clip;
}
/*--------------------------------------*/
[class*="__conteiner"]{
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
}
/*--------------------------------------*/
.page {
    flex: 1 1 auto;
}
.button {
    display: inline-block;
    text-align: center;
    color:#fff;
    padding: 16px 30px;
    background-color:#3D96F4;
    border-radius: 50px;
    letter-spacing: 2px;
    font-size: 14px;
    transition: background-color 0.3s ease 0s;
    line-height: 1.43; /* 22/14 */
    font-weight: 500; 
}
@media (max-width:991.98px) {
    .button {
    padding:14px 20px; 
    }
}

.button:hover {
background-color: #60a6f0;
}
/*--------------------------------------*/
/* Header */
/*--------------------------------------*/
.header {
}
.header__conteiner {
    display: flex;
    column-gap: 35px;
    align-items: center;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.header_menu {
    flex: 1 1 auto;
}
.header_logo {
   
}
.menu {
}
.menu_icon {
    
}

.menu_list {
    display:flex;
    flex-wrap: wrap;
    row-gap: 3px;
    column-gap: 35px;
    justify-content: flex-end;
}
.menu_item {
}
.menu_link {
    display: block;
    color:#fff;
    font-size: 16px;
    line-height: 1.62; /* 26/16 */
}
.menu_link:hover {
    opacity: 0.7;
}
.cart-header:hover .cart-header_text {
opacity: 0.7;
}
.header_cart {
}
.cart-header {
    color:#fff;
    align-items: center;
    display: flex;
    gap: 5px;
}
.cart-header_text {
    font-size: 18px;
    line-height: 1.55; /* 28/18 */
}
.cart-header_quantity {
    background: rgba(129, 129, 139, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}
.header_button {
    flex:0 0 auto;
}
.icon-menu {
    display: none;
   }
   .header_logo,
   .header_cart,
   .header_button {
    position: relative;
    z-index: 5;
   }
   @media (max-width: 991.98px){
       .header__conteiner,
       .menu_list{
           column-gap:25px;
       }
       .header__conteiner {
        min-height: 90px;
     }
   }
   @media (max-width: 767.98px){
    .header__conteiner,
    .menu_list{
        column-gap:15px;
    }
    .icon-menu {
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;
    }
    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #0d0d11;
        transition: all 0.3s ease 0s;
    }
    .icon-menu::before {
        top:0;
    }
    .icon-menu::after {
        bottom:0;
    }
    .icon-menu span {
        color: #fff;
        top: calc(50% - 2px);
    }
    .menu-open .icon-menu {
       width: 0; 
    }
    .menu-open .icon-menu::before {
        top: calc(50% - 2px);
        transform: rotate(-45deg);
    }
    .menu-open .icon-menu::after {
        bottom: calc(50% - 2px);
        transform: rotate(45deg);
    }
    .menu_body {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #000;
        left:-100%;
        top:0;
        padding: 100px 15px 30px 15px;
        overflow: auto;
        transition: left 0.3s ease 0s;
    }
    .menu_body::before {
        content: "";
        width: 100%;
        position: fixed;
        top:0;
        left:-100%;
        height: 70px;
        background-color: #000;
        z-index: 2;
        transition: left 0.3s ease 0s;
    }
    .menu_list {
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        text-align: center;  
    }
     .menu_link {
        font-size: 32px;
     }
     .header__conteiner {
        min-height: 70px;
     }
    
    }
    .menu-open .menu_body,
    .menu-open .menu_body::before {
        left: 0;

    }
     @media (max-width: 560px) {
      .header_logo {
       width: 32px;
       flex: 0 0 32px;
       overflow: hidden;
     }
     .cart-header_text {
        display:none; 
     }
     .cart-header_quantity {
        width: 45px;
        height: 45px;
        padding-top:5px;
        background: url(../pictures/index2.png) center 0 no-repeat;
        background-size: 100%;
     }
    }
   

